body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 100vh;
}

.calculator-body {
  background-color: white;
  width: 320px;
  border: purple;
  border-width: 1px;
  border-style: solid;
  background-color: black;
  padding: 0.5rem;
}

.formulaScreen {
  display: block;
  background-color: black;
  font-size: 1rem;
  min-height: 2rem;
  text-align: right;
  color: white;
  word-wrap: break-word;
}

.outputScreen {
  display: block;
  background-color: black;
  font-size: 1.5rem;
  height: 3rem;
  text-align: right;
  color: white;
}

.button {
  position: relative;
  height: 65px;
  width: 80px;
  background-color: #5b5151;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  outline: none;
}

.button:hover {
  color: black;
  border-color: grey;
}

.jumbo {
  width: 160px;
}

.equal {
  position: absolute;
  height: 130px;
}

#clear {
  background-color: #b62020;
}
